__pycache__/
datasets/
figures/
transformer_model/
mace_model/
.ruff_cache
wandb
.pytest_cache
.vscode/
eval_runs/
training_runs/
notebooks/
backed_up_models/
*.log
raw_datasets/
dataset
uv.lock
.claude
.env
CLAUDE.md
*.model
*.err
*.out
analysis_output/
/submit_*.sh
dataloading_benchmark/
threedscriptors/data_handling/dataset_creation/benchmark_dataloader.py